<div class="container">
    <div class="row">
        <div class="col-xs-12">
    	    <span class="h2">検索システム</span>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-xs-5">
            <form action="search" method="GET">
                <div class="form-group">
                    <label>名前</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="name">
                </div>
                <button type="submit" class="btn btn-primary" id="search-button">search</button>
            </form>
        </div>
    </div>
</div>

<script>
</script>